/* Estilos del mini sitio */
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
h1{
    font-size: 50px;
    color: beige;
}
h2{
    font-size: 25px;
    color: beige;
}
.tarjeta{
    background-color: #a559b8;
    padding: 16px;
    border:#a7a7a7 solid 3px;
    border-radius: 10px;
}
.tarjeta h3{
    color: palegoldenrod;
}
nav a:hover,
nav a:focus,
nav a:active{
    border: solid purple 3px;
    outline: auto;
    background-color: #a559b8;
    color: beige;
}
nav a{
    color: magenta;
    text-decoration: none;
}
.enlaces{
    color: magenta;
    text-decoration: none;
}
input:focus,
textarea:focus,
button:focus{
    border: solid blue 3px;
    outline: auto;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 16px;
}
.texto {
    flex: 1;
}